hr{
    display: block;
    border: 0;
    border-top: 0.5px solid rgb(65, 10, 10);
}

.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}